
.bg{
  background-color: rgba(0, 132, 134, 8);
  position: absolute;
  width: 100%;
}
.m{
  margin: .5rem;
}

ion-content {
  --keyboard-offset: 0px!important;
}

.content{
  padding: 10px;
}

.mt{
  margin-top: 25px;
}

.border{
  border-bottom: 1px solid #fff;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.link{
color: #fff;
text-decoration: none;
}

.flex{
  display: flex;
  justify-content: center;
   margin-top: 10px;
}

.btn{
padding: 13px 110px;
margin-top: 10px;
border-radius: 20px;
background-color: #fff;
color:  rgba(0, 132, 134, 8);
font-size: 20px;
font-weight: 600;
}
.btn-formulario{
  padding: 15px 33px;
  margin: 12px 0;
  border-radius: 20px;
  background-color: rgba(0, 132, 134, 8);
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.font{
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
  color: #fff;

}

.bold{
  font-weight: bold;
}

.ojo{
  position: relative;
  margin-top: -50px;
  display: flex;
  left: 150px;
  z-index: 999;
}

.cambio{
  background: none;
  font-size: 16px;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card{
  border: none;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(162, 162, 164, 0.44);
  box-shadow: 0px 0px 13px 0px rgba(123, 123, 124, 0.44);
}

.p-4 {
  padding: 1rem!important;
}

.float-right {
  float: right!important;
}

.mini-stat-icon i {
  font-size: 30px;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}
.text-white {
  color: #ffffff !important;
}
.bg-success {
  background-color: #02c58d !important;
}
.font-16 {
  font-size: 16px;
}

.vertical {
  vertical-align: inherit;
}

.mt-4{
  margin-top: 1rem!important;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}

.mb-0{
  margin-bottom: 0;
}

.salir{
background-color: #fff;
color: #007bff;
margin-top: 4px;
}

.icon{
  display: flex;
  place-self: flex-end;
  margin-top: -39px;
  font-size: 35px;
}
.icond{
  font-size: 35px;
}

.numer{
  font-size: 25px;
}

.color{
  background-color: white!important;
  color: black!important;
}
body {
  display: block;
}

.user-card {
  margin-top: 20px; /* Ajusta el margen superior del card */
}

.label-bold {
  font-weight: bold; /* Hace que los labels sean más negrita */
}

.input-spacing {
  margin-bottom: 10px; /* Añade un espacio entre los inputs */
}